.background {
	-fx-padding: 2, 2, 2, 2;
}

.column-header.left-aligned > .label {
	-fx-alignment: baseline-left;
}

.check-box {
	-fx-background-insets: 0 0 0 20;
	-fx-background-radius: 3;
}

.radio-button {
	-fx-background-insets: 0 0 0 20;
	-fx-background-radius: 3;
}

.invalid {
	-fx-background-color: lightcoral;
}

.invalid:selected {
	-fx-background-color: #E2AAAA;
}

.invalid:selected.check-box {
	-fx-background-color: lightcoral;
}

.invalid:selected.radio-button {
	-fx-background-color: lightcoral;
}

.valid {
	-fx-background-color: lightgreen;
}

.valid:selected {
	-fx-background-color: #B2E0B2;
}

.valid:selected.check-box {
	-fx-background-color: lightgreen;
}

.valid:selected.radio-button {
	-fx-background-color: lightgreen;
}

.disabled-opaque:disabled {
	-fx-opacity: 1.0;
	-fx-background-color: transparent;
	-fx-background-radius: 5, 5, 4, 3;
	-fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.disabled-opaque:disabled .list-cell {
	-fx-opacity: 1.0;
	-fx-text-fill: -fx-text-base-color;
}

.disabled-opaque:disabled .text-field {
	-fx-opacity: 1.0;
	-fx-background-color: transparent;
	-fx-text-fill: -fx-text-base-color;
}

.disabled-opaque:disabled .arrow-button {
	-fx-opacity: 0.0;
}

.disabled-opaque:disabled .increment-arrow-button {
	visibility: hidden;
}

.disabled-opaque:disabled .decrement-arrow-button {
	visibility: hidden;
}

.remove-vertical-scrollbar .scroll-bar:vertical {
	-fx-max-width: 0;
	-fx-pref-width: 0;
	-fx-min-width: 0;
	-fx-opacity: 0.0;
}

.remove-horizontal-scrollbar .scroll-bar:horizontal {
	-fx-max-height: 0;
	-fx-pref-height: 0;
	-fx-min-height: 0;
	-fx-opacity: 0.0;
}

.remove-header .column-header-background {
	-fx-max-height: 0;
	-fx-pref-height: 0;
	-fx-min-height: 0;
}

.tooltip {
	-fx-font-family: normal;
	-fx-font-size: 9.5;
}

.icon-font {
	-fx-font-family: "Material Symbols Outlined";
	-fx-font-size: 15;
}

.flat-link {
	-fx-text-fill: -fx-text-background-color;
	-fx-underline: false;
}

.flat-link:hover {
	-fx-underline: true;
}

.tabPaneButton {
	-fx-translate-x: -3;
	-fx-translate-y: 2;
}

.bold {
	-fx-font-weight: bold;
}

.italic {
	-fx-font-style: italic;
}

.boldTitledPane > .title {
	-fx-font-weight: bold;
}