{
	"releaseDate" : "@releaseDate@",
	"previousReleaseDate" : "@previousReleaseDate@",
	"previousReleaseLink" : "https://raw.githubusercontent.com/DSATool/DSATool/master/release/DSATool_@previousReleaseDate@.zip",
	"updateInfo" : "https://raw.githubusercontent.com/DSATool/DSATool/master/release/update-info.json"
}